[defaults]
# Chemin vers ton inventaire
inventory = ./inventory/hosts.yml

# Désactive la vérification des clés SSH (indispensable pour les instances AWS dynamiques)
host_key_checking = False

# Supprime la création de fichiers .retry en cas d'échec
retry_files_enabled = False

# Force l'utilisation de Python 3 pour éviter les warnings
interpreter_python = /usr/bin/python3

# Optionnel : rend la sortie d'Ansible plus lisible
stdout_callback = ansible.builtin.default
result_format = yaml

[privilege_escalation]
# On laisse 'false' ici par sécurité,
# mais on l'activera dans les playbooks avec 'become: yes'
become = False
become_method = sudo
become_user = root
